{%extends 'all-images/base.html'%} 
{% block content %}
<div class="container">

  

  <div class="row">
    <h1>My Gallery</h1>

  {% if category %}
    {% for category in category %}
      <div class="col-sm-6 col-md-3">
          <h1>{{category.title}}</h1>
          <h1>{{category.location}}</h1>
          <h1>{{category.description}}</h1>



      </div>
      <div>
          <img src="{{category.photos_image.url}}" alt="image">
      </div>
    {% endfor %}
  {% endif %}
  </div>

  {%for image in images%}
      
  <a href="{{image.photos_image.url}}"><img class="images" src="{{image.photos_image.url}}"></a>
        
  
  
  {%endfor%}
</div>
{% endblock %}